<div class="center flex-column form">
  <div class="card shadow" style="width: 36rem;">
    <div class="card-header">
      <h2 class="text-center mt-2">Movie Form</h2>
    </div>
    <div class="card-body">
      <!--Error Message-->
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>
      <% end %>
      <!-- Form Started Here -->
      <%= form_with model: @movie do |f| %>
        <%= f.label :movie_name, "Movie Name :", class:"mt-3" %>
        <%= f.text_field :movie_name, placeholder: "Enter Movie Name", class:"mb-2 form-control" %>
        <br>
        <%= f.label :release_date, "Release Date :" %>
        <%= f.date_field :release_date, class:"mb-2 form-control" %>
        <br>
        <%= f.label :description, "Description :" %>
        <%= f.text_area :description ,placeholder: "Enter Movie Description", class:"mb-2 form-control" %>
        <br>
        <%= f.label :poster, "Poster :" %>
        <%= f.file_field :poster, class:"mb-2 form-control" %>
        <br>
        <%= f.label :images, "Images :" %>
        <%= f.file_field :images,multiple: true , class:"mb-2 form-control" %>
        <br>
        <div class="d-flex justify-content-center">
          <%= f.submit "Save Movie", class:"btn-secondary border-0 shadow py-2 px-5" %>
        </div>
      <% end %>
      <table class="table table-secondary table-striped">
        <ol class="fs-2">
          <thead class="table-secondary">
            <td> Uploaded Images </td>
            <td> Action </td>
          </thead>
          <% @movie.images.each do |mov_img| %>
            <tr>
              <td>
                <%= image_tag mov_img.variant(resize: "75x75"), alt: "Image not loaded" %>
                <%= link_to mov_img.filename, rails_blob_path(mov_img, disposition: :attachment), class:"text-dark text-decoration-none" %>
              </td>
              <td>
                <%= link_to 'Remove', delete_file_movie_url(mov_img.id),  data: { turbo_method: :delete }, class: "text-danger text-decoration-none" %>
              </td>
            </tr>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
